html {
  height: 100%;
  background-color: black;
}

body {
  height: 100%;
  background-color: transparent;
}

.carousel-item > img {
  height: auto;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
